/Guia_POO_4/nbproject/private/
/Guia_POO_4/build/
/Guia_POO_5/nbproject/private/
/Guia_POO_6/nbproject/private/
/Guia_POO_5/build/
/Guia_POO_6/build/
/Guia_POO_7/nbproject/private/
/Guia_POO_7/build/
/Guia_POO_8/nbproject/private/
/Guia_POO_9/nbproject/private/
/Guia_POO_10/nbproject/private/
/Guia_POO_11/nbproject/private/
/Guia_POO_12/nbproject/private/
/Guia_POO_8/build/
/Guia_POO_10/build/
/Guia_POO_11/build/
/Guia_POO_12/build/
/Guia_POO_9/build/